.shop {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2.5%;

  &__filters {
    width: 25%;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 991px) {
      width: 100%;
    }
  }

  &__country {
    flex-direction: column;

    &-title {
      border-radius: 7px 7px 0 0;
      padding: 1.2rem 1.5rem;
      border-bottom: 1px solid #e9edf4;
      letter-spacing: 0.2px;
      font-size: 14px;
      font-weight: 500;
    }

    &-list {
      padding: 25px;
      display: flex;
      flex-direction: column;

      & li {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5rem;
        align-items: center;
      }
    }

    &-button {
      color: #282f53;
      padding: 0;
      width: min-content;
      display: flex;
      white-space: nowrap;
      background-color: transparent;
      border: none;
      font-size: 14px;
      font-weight: 400;

      &:hover {
        color: #79c8c2;
      }
    }

    &-amount {
      padding: 0.4em 0.6em;
      font-size: 75%;
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;
      border-radius: 7px;
      background: rgba(178, 177, 183, 0.1);
    }
  }

  &__system {
    padding: 25px;
    flex-direction: column;

    &-label {
      margin-bottom: 0.375rem;
      font-weight: 500;
      font-size: 0.875rem;
      margin-top: 9px;
    }

    &-select {
      display: inline-block;
      width: 100%;
      height: 2.375rem;
      padding: 0.5rem 1.75rem 0.5rem 0.75rem;
      line-height: 1.5;
      font-size: 0.875rem;
      font-weight: 400;
      color: #76839a;
      vertical-align: middle;
      background-size: 8px 10px;
      border-radius: 7px;
      appearance: none;
      border: 1px solid #e9edf4;
      background-image: url(../public/chevron-down.svg);
      background-repeat: no-repeat;
      background-position: calc(100% - .5rem) center;
      background-size: 12.25px;

      &::-webkit-scrollbar {
        display: none;
      }

      &:focus {
        outline: none;
      }

      & option {
        line-height: 1.5;
        color: #76839a;
        font-size: 0.875rem;
      }
    }
  }

  &__content {
    width: 72.5%;

    @media screen and (max-width: 991px) {
      width: 100%;
    }

    &_vpn {
      width: 100%;
    }
  }

  &__search {
    padding: 1rem;
    align-items: center;
    flex-wrap: wrap;

    &-input {
      padding: 0.475rem 0.75rem;
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1.5;
      color: #4d5875;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #e9edf4;
      border-radius: 7px;
      width: 192px;

      &:focus {
        outline: none;
      }
    }

    &-button {
      display: inline-block;
      vertical-align: middle;
      font-weight: 400;
      letter-spacing: 0.03em;
      font-size: 14px;
      min-width: 2.375rem;
      text-align: center;
      padding: 0.375rem 1rem;
      line-height: 1.84615385;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }

  &__display {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    margin: 0.5rem 0;

    & li {
      &:first-child {
        border: 1px solid #e9edf4;
        border-radius: 7px 0 0 7px;
        border-right: none;
      }

      &:last-child {
        border: 1px solid #e9edf4;
        border-radius: 0 7px 7px 0;
      }
    }

    &-button {
      background-color: transparent;
      cursor: pointer;
      color: rgba(0, 0, 0, 0.5);
      border: none;

      &_active {
        color: #79c8c2;
      }
    }
  }

  &__card-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2.5%;
  }

  &__item {
    width: calc(95% / 3);
    flex-direction: column;

    @media screen and (max-width: 1391px) {
      width: 48.75%;
    }

    @media screen and (max-width: 576px) {
      width: 100%;
    }

    &_vpn {
      @media screen and (max-width: 1391px) {
        width: calc(95% / 3);
      }

      @media screen and (max-width: 768px) {
        width: 48.75%;
      }

      @media screen and (max-width: 576px) {
        width: 100%;
      }
    }

    &-flag {
      border-radius: 50%;
      height: 25px;
      width: 25px;
      object-fit: cover;
      margin-right: 5px;

      &_vpn {
        display: inline-block;
      }
    }

    &_list {
      width: 100%;
      flex-direction: row;

      @media screen and (max-width: 1391px) {
        width: 100%;
      }

      @media screen and (max-width: 1280px) {
        flex-direction: column;
      }
    }

    &-img {
      display: none;

      &_list {
        display: block;
        margin-top: 25px;
        margin-left: 25px;
        width: calc(25% - 25px);
      }
    }

    &-wrap-title {
      margin-top: 8px;

      &_list {
        margin: 25px 0 25px 0;
        width: 50%;
      }
    }

    &-title {
      margin: 0 25px 7px 25px;
      text-transform: capitalize;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;

      &_list {
        margin-bottom: 0.75rem;
        font-size: 30px;
        color: #79c8c2;
      }

      & a {
        font-weight: 700;
        font-size: 20px;
      }

      & a:hover {
        color: #79c8c2;
      }
    }

    &-list {
      margin: 0 25px .5rem;
      list-style-type: none;

      & li {
        color: #100f15;
        margin-bottom: 25px;
        margin-top: 10px;
        font-size: 14px;

        &::before {
          content: url(../public/cog.svg);
          width: 50px;
          text-align: center;
          display: inline-block;
        }
      }
    }

    &-price {
      font-size: 18px;
      font-weight: 600;
      text-align: center;
      padding-bottom: 25px;
      border-bottom: 1px solid #e9edf4;
      padding-left: 0.75rem;

      @media screen and (max-width: 1280px) {
        padding-left: 0;
      }

      &_list {
        border: none;
        padding-bottom: 1.5rem;
        font-size: 1.5rem;

        & + .shop__button-cta {
          text-align: center;
        }
      }

      &-wrap {
        &_list {
          margin: 25px 25px 25px 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          border-left: 1px solid #e9edf4;

          @media screen and (max-width: 1280px) {
            margin-right: 0;
          }
        }
      }
    }
  }

  &__button-cta {
    margin: 1rem 1.5rem;
    width: calc(100% - 3rem);
    cursor: pointer;
    color: #fff;
    background: #79c8c2;
    border: solid 1px #79c8c2;
    font-weight: 400;
    letter-spacing: .03em;
    font-size: .8125rem;
    padding: .375rem 1rem;
    border-radius: 5px;
    line-height: 1.84615385;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      opacity: .8;
    }
  }
}

.card {
  display: flex;
  margin-bottom: 1.5rem;
  word-wrap: break-word;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .125);
  font-size: 14px;
  background-clip: border-box;
  border-radius: 7px;
  box-shadow: 0 4px 25px 0 rgba(168, 180, 208, 0.1);
}