@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  8% {
    transform: scale(0);
    opacity: 0;
  }
  15% {
    transform: scale(0.1);
    opacity: 1;
  }
  30% {
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1.1);
  }
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: calc(100% - 270px);
  display: flex;
  border-bottom: 1px solid #e9edf4;
  background: #ffffff;
  transition: padding-left 0.3s ease;
  padding-left: calc(0.75rem + 10px);
  padding-right: calc(0.75rem + 10px);
  background-repeat: 10px;
  margin-left: 270px;
  display: flex;
  height: 75px;
  justify-content: space-between;
  align-items: center;

  &__toggle-sidebar {
    background-color: transparent;
    border: none;
    background-image: url(../public/icon-toggle-sidebar.svg);
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: contain;
  }

  &__navbar {
    display: flex;

    &-item {
      margin: 5px;
      padding: 9px;
      text-align: center;
      height: 2.5rem;
      font-size: 1.2rem;

      &_avatar {
        margin: 0 5px;
      }
    }
  }

  &__country {
    display: flex;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #79c8c2;
    padding: 0;

    & iconify-icon {
      font-size: 20px;
    }

    & span {
      margin-left: .5rem;
      font-size: 16px;
    }
  }

  &__notifications {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #79c8c2;
    padding: 0;
    position: relative;

    & iconify-icon {
      font-size: 20px;
    }
  }

  &__pulse {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #22c03c;

    &::before {
      content: "";
      top: -4px;
      right: -4px;
      width: 15px;
      height: 15px;
      position: absolute;
      border-radius: 50%;
      background: rgba(34, 192, 60, 0.6);
      cursor: pointer;
      box-shadow: 0 0 0 rgba(34, 192, 60, 0.9);
      animation: pulse 1s linear infinite;
    }
  }

  &__avatar {
    width: 2.2rem;
    height: 2.2rem;
    line-height: 2.2rem;
    border-radius: 50%;
    background: rgba(121, 200, 194, .2) no-repeat center/cover;
    text-align: center;
    color: #fff;
    font-weight: 500;
    vertical-align: bottom;
    font-size: 0.875rem;
    cursor: pointer;
  }
}