.footer {
  @media screen and (max-width: 720px) {
    & {
      gap: 20px;
      flex-direction: column;
    }
  }

  &__copyright {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
  }

  &__wrapper {
    justify-content: space-between;
    padding-bottom: 4rem;
    display: flex;
    position: sticky;

    nav {
      position: static;
      text-align: center;
      flex-wrap: wrap;
      gap: 20px;
      display: flex;

      a {
        transition: .2s ease-in-out;
      }
    }
  }
}
