.footer {
  &__copyright {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
  }

  &__wrapper {
    justify-content: space-between;
    margin-bottom: 20px;
    display: flex;

    @media screen and (min-width: 720px) {
      & {
        justify-content: center;
        margin: 0 auto 20px;
      }
    }

    ul {
      position: static;
      text-align: center;
      flex-wrap: wrap;
      gap: 20px;
      display: flex;

      a {
        transition: .2s ease-in-out;
      }
    }
  }

  &__reviews {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 4rem;
    width: 100%;
    max-width: 600px;

    li {
      width: 20%;
    }
  }
}
