* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: '__Rubik_0c75c8', '__Rubik_Fallback_0c75c8';
  font-size: 16px;
  color: #444;
}
a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}
.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
.h2-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
}
.h3-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.h4-title {
  font-size: 1.2rem;
}
section {
  padding: 2rem 0;
}