* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
}
body {
  color: #444;
}
a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}
.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
.h2-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
}
.h3-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.h4-title {
  font-size: 1.2rem;
}
section {
  padding: 2rem 0;
}

.page-account {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  background-color: #f0f0f5;
}

.account-main {
  flex: 1 0 auto;
  padding: 75px calc(20px + .75rem) 0 calc(290px + .75rem);
  color: #282f53;
}

.account-main_sidebar-mini {
  padding: 75px calc(15px + .75rem) 0 calc(90px + .75rem);
}

@media screen and (max-width: 1320px) {
  .container {
    max-width: 1000px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 700px;
  }
}

@media screen and (max-width: 991px) {
  .account-main {
    padding: 75px calc(15px + .75rem) 0 calc(15px + .75rem);
  }
}

@media screen and (max-width: 720px) {
  .container {
    padding: 0 5%;
    max-width: 100%;
  }
}
