.popup {
  max-width: 700px;
  width: 90%;
  position: fixed;
  min-height: 60px;
  top: 15px;
  right: 5%;
  background-color: #ff5b51;
  opacity: 0.6;
  color: #000;
  -webkit-box-shadow: 0 3px 5px rgba(0,0,0,.3);
  -moz-box-shadow: 0 3px 5px rgba(0,0,0,.3);
  -o-box-shadow: 0 3px 5px rgba(0,0,0,.3);
  box-shadow: 0 3px 5px rgba(0,0,0,.3);
  border-radius: 5px;
  display: none;
  z-index: 100000;

  &_open {
    display: block;
  }

  &__message {
    text-align: center;
    font-size: 14px;
  }

  &_success {
    background-color: rgba(9, 173, 149);
    border-color: rgba(9, 173, 149, 0.1);
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    opacity: 1;
  }
}


