.card {
  width: calc(95% / 3);
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
  background-clip: border-box;
  border-radius: 7px;
  box-shadow: 0 4px 25px 0 rgba(168, 180, 208, 0.1);
  min-height: 514px;
  margin-bottom: 1.5rem;

  @media screen and (max-width: 1280px) {
    width: 47.5%;
  }

  @media screen and (max-width: 576px) {
    width: 100%;
  }

  &__header-link {
    padding: 1.5rem;
  }

  &__img {
    transition: all 0.5s ease 0s;
    margin: auto;
    display: block;
    width: 25%;
  }

  &__body {
    padding: 0 25px 25px;
    flex: 1 0 auto;
  }

  &__title {
    text-transform: capitalize;
    margin: 0 0 10px;
    transition: all 0.3s ease 0s;
    margin-bottom: 7px;
    min-height: 32px;
    font-weight: 700;
    text-align: center;

    & a {
      font-size: 20px;
    }
  }

  &__list {
    margin-bottom: 0.75rem;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
  }

  &__item {
    font-size: 14px;
    font-weight: 400;
  }

  &__status {
    padding: 3px 8px 5px 8px;
    color: #495057;
    margin: 0.25rem 0.25rem .25rem 0;
    font-size: 0.75em;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    display: inline-block;
    border-radius: 50rem;

    &_orange {
      background: linear-gradient(to bottom right, #f66b4e 0%, #fbc434 100%);
    }

    &_blue {
      background: linear-gradient(to bottom right, #1ea38f 0%, #5cf9e2 100%);
    }
  }

  &__text-denger {
    color: #e82646;
    font-size: 14px;
  }

  &__text-success {
    color: #09ad95;
    font-size: 14px;
  }

  &__footer {
    flex: 0 0 auto;
    border-radius: 0 0 7px 7px;
    padding: 1rem 1.5rem;
    text-align: center;
    border-top: 1px solid #e9edf4;
    color: #6e7687;
  }

  &__button-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
    color: #fff;
    background: #79c8c2;
    border-color: #79c8c2;
    margin-top: 0.25rem;
    font-weight: 400;
    letter-spacing: 0.03em;
    font-size: 0.8125rem;
    min-width: 2.375rem;
    padding: 0.375rem 1rem;
    white-space: nowrap;
    line-height: 1.84615385;
    border-radius: 5px;
    transition:
      color 0.15s ease-in-out,
      background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;

    &:hover {
      opacity: .8;
    }
  }

  &__message {
    color: #969696;
    margin-top: 0.5rem;
    font-size: 80%;
    font-weight: 400;
    margin-bottom: 1em;
  }
}