.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  display: none;
  width: 100%;
  height: 100%;
  padding: 0;

  &__container {
    min-width: 18rem;
    box-shadow: 0 10px 40px 0 rgba(104, 113, 123, 0.2);
    border: 1px solid #e9edf4;
    position: absolute;
    top: 65px;
    border-radius: 7px;
    background-color: #fff;

    &::before {
      content: "";
      width: 13px;
      height: 13px;
      background: #fff;
      position: absolute;
      top: -7px;
      right: 28px;
      transform: rotate(45deg);
      border-top: 1px solid #e9edf4;
      border-left: 1px solid #e9edf4;
    }

    @media screen and (max-width: 991px) {
      width: 90%;
      left: 5%;
      right: 5%;
      top: 135px;

      &::before {
        display: none;
      }
    }
  }

  &_opened {
    display: block;
  }

  &__notification {
    &-title {
      border-bottom: 1px solid #e9edf4;
      padding: 1rem 1rem;
      color: #8f9daf;
      font-weight: 500;
    }

    &-nemu {
      height: 300px;
    }
  }
}